#home {
	color: red;
	div {
		color: #333;
	}
	.user{
		color: #fff;
	}
	.el-header {
		background-color: #171d31;
		color: #fff;
		line-height: 60px;
	}
	.user{
		margin-top: 10px;
	}
	.el-aside {
		color: #fff;
	}
	.logo{
		img{
			width: 80px;
			height: 38px;
			margin: 10px;
		}
	}
	.el-container{
		height: 100%;
	}
}
